.booking-page {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-and-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}

.car-details {
  width: 40%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  padding: 10px;
  text-align: center;
}

.car-details img {
  max-width: 100%;
  border-radius: 8px;
}

.details h2 {
  font-size: 24px;
  color: #333;
}

.reviews i {
  color: #ffcc00;
}

.features {
  margin: 20px 0;
  font-size: 16px;
}

.price {
  font-size: 20px;
  font-weight: bold;
}

.booking-form {
  width: 50%;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.booking-form h2 {
  font-size: 26px;
  color: #4a90e2;
  text-align: center;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 20px 0;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-size: 14px;
  margin-bottom: 5px;
}

.input-group input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.749);;
}
input, select {
  width: 180px;
  background-color: #3a6fff29;
}
.terms {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.terms input {
  margin-right: 10px;
}

.terms label {
  font-size: 14px;
}

button {
  padding: 10px 20px;
  background: #4a90e2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
}

.read-before {
  width: 100%;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.read-before h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.read-grid {
  display: flex;
  justify-content: space-between;
}

.read-grid div {
  width: 45%;
}

.read-grid h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.read-grid p {
  font-size: 14px;
  margin-bottom: 20px;
}
